Source: pytmx
Maintainer: Jacob Adams <tookmund@gmail.com>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.6

Package: python-pytmx
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: loads tiled tmx maps. for python 2.7 and 3.3+
 https://github.com/bitcraft/PyTMX

